{% extends "base.html" %}
{% load staticfiles %}
{% block title %}OpenGenfri > Bill #{{bill.id}}{% endblock %}
{% block content %}
<ul>    
    <li>Bill #{{bill.id}}</li>
    <li>{{bill.date}}</li>
    <li>Customer Name: {{bill.customer_name}}</li>
    <li>Server: {{bill.server}}</li>
    <li>Total: ${{bill.total}}</li>
</ul>
<div id="undo-button">
<form method="post" name="">
    {% csrf_token %}
    <input type="button" class="undo-bill" id="{{bill.id}}" value="Undo Bill" />
</form>
</div>
<br/>
<br/>
<table style="width:40%">
    <tr>
        <th>Category</th>
        <th>Item</th>
        <th>Units</th>
        <th>Unit price</th>
    </tr>
    {% for billitem in bill.billitem_set.all %}
    <tr>
        <td>{{billitem.item.category.name}}</td>
        <td>{{billitem.item.name}}</td>
        <td>x{{billitem.quantity}}</td>
        <td>${{billitem.item_price}}</td> 
    </tr>
    {% endfor %}
</table>
<script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
<script type="text/javascript" src="{% static "undobill-jquery.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    var args = {
        csrf_token: "{{ csrf_token }}",
        url: "{% url 'webpos:undo-bill' %}",
        hide: 'div'
    };
    $('.undo-bill').click(args, undo_bill);
});
</script>
{% endblock %}
