{% extends "webpos/easy_pdf/base.html" %}
{% block extra_style %}
	<style type="text/css">
		td.qty {
			width: 10%;
		}
		td.description {
			width: 50%;
		}
		td.price {
			width: 20%;
		}
		logo {
			width: 50%;
		}
	</style>
{% endblock %}
{% block content %}
    <div id="content">
        <div class="main">
		<h1>Paese in Festa 2015</h1>
		<h1>COPIA CLIENTE - Scontrino # {{ bill.id }}</h1>
		    <h2>Nome Cliente: {{bill.customer_name}}</h2>
		<ul>
                <li>Tavolo: {{bill.customer_id}}</li>
                <li>Ora e Data: {{bill.date}}</li>
            	<li>Totale: {{bill.total}}  &euro;</li>
            </ul>
            <h2>Riepilogo ordine:</h2>
	    <table>
		 {% for k,v in headeritems.items %}
		 <tr><td colspan="4">{{ k }}</td></tr>
		    <tr>
			    <td class="qty">QTY.</td>
			    <td class="description">PRODOTTO</td>
			    <td class="price">PREZZO</td>
			    <td class="price">TOTALE</td>
			</tr>
		 {% for item in v %}
		<tr>
			<td class="qty">{{item.quantity}}</td>
			<td class="description">{{item.item}}</td>
			<td class="price">{{item.item_price}}</td> 
			<td class="price">{{item.total_cost}}</td>
		</tr>
		{% endfor %}
            {% endfor %}
	    </table>
	    <div> <pdf:nextpage /></div>
		 {% for k,v in billitems.items %}
	    <table>
		    <tr><td><h1>{{ k }}</td></h1><td>#{{bill.id}} - {{bill.date}}</td></tr>
	    </table>
	    <hr />
	    <table>
		 <tr>
			 <td><h2>Nome cliente</h2></td>
			 <td><h2>Tavolo</h2></td>
		 </tr>
		 <tr>
			 <td><h4>{{ bill.customer_name }}</h4></td>
			 <td><h4>{{ bill.customer_id }}</h4></td>
		</tr>
	    </table>
	    <hr />
	    <table>
		    <tr>
			    <td class="qty">QTY.</td>
			    <td>PRODOTTO</td>
			</tr>
		 {% for item in v %}
		<tr>
			<td class="qty">{{item.quantity}}</td>
			<td>{{item.item}}</td>
		</tr>
		{% endfor %}
	    </table>
	    <div> <pdf:nextpage /></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
