{% extends "base.html" %}
{% block title %}OpenGenfri > items{% endblock %}
{% block content %}
<h3>Server: {{server.username}}</h3>
{% if items %}
    <table style="width:50%">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>            
        </tr>
    {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No items are available.</p>
{% endif %}
<ul>
    <li><a href="{% url 'webpos:search' %}">Search</a></li>        
    <li><a href="{% url 'webpos:report' %}">Report</a></li>    
    <li><a href="{% url 'logout' %}">Logout</a></li>
    <li><a href="{% url 'chpwd' %}">Change Password</a></li>
</ul>
{% endblock %}
