{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <script type="text/css" src="{% static "css/foundation.min.css" %}"></script>
    <link href="{% static "css/screen.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{% static "css/fontello.css" %}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %}OpenGenfri > order{% endblock %}
{% block content %}
    <main>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'webpos:index' %}">Home</a></li>
                    <li><a href="{% url 'webpos:search' %}">Find Bill</a></li>
                    <li><a href="{% url 'webpos:report' %}">Report</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <article>
                <ul class="categories buttons">
                    {% for cat in categories %}
                        <li class="category-{{ cat.id }}">
                        <a href="#" data-id="{{ cat.id }}" data-priority="{{ cat.priority }}">{{ cat.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <hr/>
                <ul class="products buttons">
                    {% for item in items %}
                        <li class="category-{{ item.category.id }}" data-name="{{ item.name }}">
                        <a href="#" data-id="{{ item.id }}" data-price="{{ item.price }}" data-category="{{ item.category.id }}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </article>
            <aside>
                <div class="user-form">
                    <input class="customer-name" type="text" name="username" autocomplete="off" placeholder="Nome cliente" maxlength="40" />
                </div>
                <a href="#" class="btn-print-bill icon-print disabled"></a>
                <table cellpadding="0" cellspacing="0" class="billItems">
                    <template class="billCategoryRow">
                        <td colspan="4">
                            <h3>{ name }</h3>
                        </td>
                    </template>
                    <template class="billItemRow">
                        <td class="edit">
                            <a data-id="{ id }" class="remove icon-minus-circled" href="#"></a>
                            <a data-id="{ id }" class="add icon-plus-circled" href="#"></a>
                        </td>
                        <td class="amount">{ amount }x</td>
                        <td class="item">{ name }</td>
                        <td class="price">{ price } &euro;</td>
                    </template>
                    <template class="billItemNotes">
                        <td></td>
                        <td class="notes" colspan="3">
                            <textarea class="item-notes" data-id="{ id }" maxlength="200">{ notes }</textarea>
                        </td>
                    </template>
                    <template class="billSeparatorRow">
                        <td colspan="4">
                            <hr />
                        </td>
                    </template>
                </table>
                <table cellpadding="0" cellspacing="0" class="total">
                    <tr>
                        <td>TOTALE</td>
                        <td class="billTotal price">0,00 &euro;</td>
                    </tr>
                </table>
            </aside>
        </section>
        <footer>
        </footer>
    </main>
    <div class="alert-panel hidden">
        <div class="icon"></div>
        <div class="text alert-message"></div>
        <a href="#" class="button btn-ok-alert">OK</a>
    </div>
    <div class="mask hidden"></div>
    <script type="text/javascript" src="{% static "js/pifquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/riot.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/models/order.js" %}"></script>
    <script type="text/javascript" src="{% static "js/presenters/order_presenter.js" %}"></script>
{% endblock %}
