{% extends "easy_pdf/base.html" %}

{% block extra_style %}
    <style type="text/css">
        @font-face { font-family: Lato; src: url(fonts/Lato-Reg.ttf); }
        body {
            font-family: "Lato", "Helvetica", "sans-serif";
            color: #333333;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <h1>Bill #{{bill.id}}</h1>
            <ul>
                <li>Customer Name: {{bill.customer_name}}</li>
                <li>Customer ID: {{bill.customer_id}}</li>
                <li>Server: {{bill.server}}</li>
                <li>Date: {{bill.date}}</li>
            </ul>
            <h2> Items:</h2>
            <ul>
            {% for billitem in bill.billitem_set.all %}
                <li>{{billitem.item}} x{{billitem.quantity}}
                    ${{billitem.item_price}} = </br>
                    ${{billitem.total_cost}}</li>

            {% endfor %}
            </ul>
            <h4>Total: {{bill.total}}</h4>
        </div>
    </div>
{% endblock %}
