{% extends "easy_pdf/base.html" %}

{% block content %}
    <div id="content">
        <div class="main">
            <h1>Bill #{{bill.id}}</h1>
            <ul>
                <li>Customer Name: {{bill.customer_name}}</li>
                <li>Customer ID: {{bill.customer_id}}</li>
                <li>Server: {{bill.server}}</li>
                <li>Date: {{bill.date}}</li>
            </ul>
            <h2> Items:</h2>
            <ul>
		 {% for item in billitems%}
			{% ifchanged item.category %}
				<div>
					<pdf:nextpage />
				</div>	
			{{ item.category }}
			{% endifchanged%}

                <li>{{item.item}} x{{item.quantity}}
                    ${{item.item_price}} = 
                    ${{item.total_cost}}</li>
            {% endfor %}
            </ul>
            <h4>Total: {{bill.total}}</h4>
        </div>
    </div>
{% endblock %}
