{% extends "backend.html" %}
{% block title %}OpenGenfri > report{% endblock %}
{% block backend-content %}
<section>
    <h3>Report</h3>
    <form action="" method="get">
    {{ form }}
    <input type="submit" value="Search" />
</section>
{% if qs_empty %}
<p>No bills found.</p>
{% elif report %}
<section>
    <h3>Results</h3>
    {% for cat, itms in report.items %}
    <h3>{{ cat.name }}</h3>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Units</th>
                <th>Total price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itms.items.0.1.items %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1.items.1.1 }}</td>
                <td class="nowrap">€ {{ item.1.items.0.1 }}</td>
            </tr>
            {% endfor %}
        <thead>
            <tr>
                <th>Total:</th>
                <th>{{ itms.items.1.1 }}</th>
                <th class="nowrap">€ {{ itms.items.2.1 }}</th>
            </tr>
        </thead>
        </tbody>
    </table>
    {% endfor %}
    <h3>TOTAL CASH: € {{ total_cash }}</h3>
    <h3>TOTAL EARN: € {{ total_earn }}</h3>
</section>
{% endif %}
{% endblock %}
